
body{
    padding: 1%;
    font-size : 18px;
    font-weight:normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    /* overflow: hidden;  */

}
.img_div {
    margin:2%;
    /* float:left; */
    height:auto;
    justify-content:center;
    display:flex;
    object-fit: cover;
    background-size: cover;
    width:50%;
    /* align-items:center;
     */
    /* height:600px; */
    align-items: center;
}
 
.main_news{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsbox{

    display: flex;
    margin: 1%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 8px;
} 
 .navbar{
    /* background-color: #080705; */
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    
} 

/*
  
.main_news{

    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .mode {
    float:right;
    text-align: right;
}
/*
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 15px;
    text-align: right;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-color: #080705;
    color: #e6e6e6;
} */

 .tozoom{  -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); transition:0.7s ease all; 
     -webkit-transition:0.7s ease all; -moz-transition:0.7s ease all;} 
.tozoom:hover{ -moz-transform: scale(1.04); -webkit-transform: scale(1.04); transform: scale(1.04);} 


@media only screen and (max-width: 700px) {
    body{
        padding: 1%;
        font-size : 18px;
        font-weight:normal;
        width: 100%;
        height:auto;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: justify;
        justify-content: center;
        object-fit: cover;
        display: block;
     
    
    }
   
    .responsive {
        width: 100%;
        height: auto;
        justify-items: center;
        object-fit: cover;
      }
      
    .newsbox{
        display: block;
        width: 100%;
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
        justify-items: center;
        object-fit: cover;
        /* position:absolute; */
        /* width: auto\9; */
        
        
    } 
    .img_div {
        height:auto;
        width:100%;
        flex:block;
        justify-items: center;
        object-fit: cover;
        /* position: absolute; */
    }
    /* object-fit: cover; */
          /* height: auto;
          width: auto\9;
         justify-content: center;  */
        
        /* height:auto */
    /* } */ 
     .main_news{ 
        flex:block ;
        width:100%;
        justify-items: center;
        object-fit: cover;
        
    }
    .title{

        font-size: 10px;
    }
    

  } 