{% extends 'base.html'%}
{% block title %}General{% endblock title %}
{% block body %}
    {% for news in cases.articles %}
    <div class="tozoom">
    <div class="newsbox">
            
        <div class="img_div">
            <!-- <div class="responsive"> --> 
        <div class="responsive">        
            <img src="{{news.urlToImage}}"class="img-fluid rounded float-left">
        </div>
        </div> 
        <div class="main_news">
            <div class = "title">
            <h3>{{news.title}}</h3>
            </div>
            <h6>Author:{{news.author}}</h6>
            <p>{{news.description}}
                <a href="{{news.url}}"><i>follow this news.</i></a>

            </p>
            
        </div>
    </div>
    </div>
{% endfor %}
{% endblock %}